@use "../scss/mixins" as *;
@use "../scss/variables" as *;

.form {
  width: 90dvw;
  max-width: 1080px;
  border-radius: 100vw;
  background-color: $white-900;

  @include disFlex(row, space-between, center);

  padding: 0.5rem;

  position: fixed;
  left: 50%;
  top: 50%;

  translate: -50% -50%;

  transition: top ease-in-out 0.5s;

  &__input {
    border: none;
    font: 400 1rem $font-primary;
    text-align: center;
    color: $black-500;
    flex: 1 0 auto;

    &:is(::-ms-input-placeholder, ::placeholder) {
      font: 400 1rem $font-primary;
      text-align: center;
      color: $black-400;
    }
  }
}
