@use "typography";
@use "mixins" as *;

$black-500: #4e4e4e;
$black-400: #b5b4b4;

$white-900: #fff;

$purple-300: #ffd6ff;
$purple-400: #e7c6ff;
$purple-500: #c8b6ff;
$purple-600: #b8c0ff;
$purple-700: #bbd0ff;

$font-primary: "Ysabeau Infant", sans-serif;
